{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
        {% if title %}
            <title>Ganader App - {{ title }}</title>
            <title>Ganader App - {{ title }}</title>
        {% else %}
            <title>Ganader App</title>
            <title>Ganader App</title>
        {% endif %}
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'blog-home' %}">
                        <img src="\media\Logo Ganader Blanco-02.png" alt="Logo GanaderIA" class="logo-class" width="200px">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
                            </li>
                            {% if user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Ranches</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        {% for ranch in user.ranches.all %}
                                            <li><a class="dropdown-item" href="{% url 'ranch-detail' ranch.id %}">
                                                {{ ranch.name }}
                                            </a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                    </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav mr-3">
                            {% if user.is_authenticated %}
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ user.profile.image.url }}" class="rounded-circle" style="height: 30px; width: 30px;" alt="Profile Picture">
                                    {{ user.username }}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'create-ranch' %}">Create Ranch</a></li>
                                    <li><a class="dropdown-divider"></a></li>
                                    <li><form action="{% url 'logout' %}" method="post">
                                        {% csrf_token %}
                                        <button class="dropdown-item" type="submit">Logout</button>
                                    </form></li>
                                </ul>
                            </div>
                            {% else %}
                                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container-fluid">
            <div class="pr-2 pt-3">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- Add this in your base.html or directly in the head section of your ranch_base.html -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>    
    </body>
</html>
