{% extends "blog/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Offcanvas Sidebar (Responsive Navigation) -->
        <!-- Sidebar Toggle Button -->
        <!-- Sidebar Content -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarMenu">
            <div class="offcanvas-body">
                <div class="d-flex justify-content-between mb-4">
                    <h5 class="pt-2 pr-2">Ranch Management</h5>
                    <button class="btn btn-outline-primary" type="button" id="sidebarToggle" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle sidebar">
                        &#9776;
                    </button>
                </div>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <a class="nav-link active" href="{% url 'ranch-detail' ranch.id %}">{{ ranch.name }}</a>
                    </li>
                    <li class="mb-1">
                        <a class="nav-link" href="">My Grazing Fields</a>
                    </li>
                    <li class="mb-1">
                        <a class="nav-link" href="">Livestock Counting</a>
                    </li>
                    <li class="mb-1">
                        <a class="nav-link" href="">Stats</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            {% block ranch_content %}{% endblock %}
        </div>
    </div>
</div>
<script>
    const sidebarToggle = document.getElementById('sidebarToggle');
    const sidebar = document.getElementById('sidebarMenu');
  
    sidebarToggle.addEventListener('click', function() {
      sidebar.classList.toggle('show');
    });
</script>
{% endblock %}
