{% extends "ranch/ranch_base.html" %}

{% block ranch_content %}
    <h1>{{ ranch.name }}</h1>
    <p>{{ ranch.description }}</p>
    <h2>Members</h2>
    <div class="mb-3"> <!-- Added a margin-bottom to separate the list from the button -->
        <ul class="list-group">
            {% for member in members %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center">
                        <img src="{{ member.user.profile.image.url }}" class="rounded-circle" style="width: 40px; height: 40px;" alt="Member Profile Picture">
                        <span class="pl-2">{{ member.user.username }}</span>
                    </div>
                    <small class="text-muted">Joined {{ member.date_joined|date:"F j, Y" }}</small>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="mt-3">
        <a href="{% url 'add-member' ranch.id %}" class="btn btn-success">Add Member</a>
    </div>
{% endblock %}
